
body{

 margin-left: 25px;

}

div{
   display: inline;
    width: 300px;
    height:200px ;
}

.gelb{
    background-color: gold;
}

.rot{

    background-color: indianred;
}

.blau{

background-color: #00a8ff;
display: inline-block;
border: 1px solid salmon;

}


.pink{

background-color: #f368e0;
display: inline-block;
border: 1px solid blue;

}